{% extends "base.html" %}
{% load static %}
{% block title %}
{{ book.title }}
{% endblock %}
{% block content %}
<div class="book-detail">
    <div class="row">
        <div id="book" class="col-lg-3">
            <img src="{{ book.image}}" class="thumbnail">
        </div>
        <div id="book" class="col-lg-9">
            <h3>Title: {{ book.title }}</h3>
            <h5> Authors:   
                {% for a in book.author.all %}
                    <li> {{ a }}</li>        
                {% endfor %}    
            </h5>
            <h5> Language:
                {{ book.language }}
            </h5>
            <h5>Description:</h5>
            {{ book.summary|linebreaks }}
            <a class="btn btn-primary" href="{% url 'book-add' book.id %}">Add my list</a>
        </div>
    </div>






</div>

{% endblock %}