{% extends "base.html" %}
{% load static %}
{% block title %}
    List of reading
{% endblock %}
{% block content %}

<div class="col-md-10">

    <div class="table-responsive">

      {% if messages %}
      <ul class="messages list-group mb-3">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}    

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th width="35%">Title</th>
            <th>Authors</th>                      
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for list in my_list %}
            {% for b in list.books.all %}
          <tr>
            <td>{{ b.title }} </td>
            <td>{% for a in b.author.all %}
              <li> {{ a }}</li>        
          {% endfor %} </td>                       
            <td>
              
              <form method="POST" action="eliminar/{{postre.id}}">
                
                {% csrf_token %}
                
                <div class="btn-group">
                  <a href="{{ b.get_absolute_url }}" title="Ver" type="button" class="btn btn-success">Ver </a>                  
                  <a href="{% url 'book-remove' b.id %}" title="Ver" type="button" class="btn btn-danger">Eliminar </a>  
                </div>

              </form>

            </td>
          </tr>
          {% endfor %}  
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}