{% extends "base.html" %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block content %}
<div class="row">
    {% for book in books %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{book.image.url}}">
        <div class="box-element product">
            <h6><strong>{{book.title}}</strong></h6>
            <hr>
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Adicionar a mi lista</button>
            
            <a class="btn btn-outline-success" href="{{ book.get_absolute_url }}">Ver</a>            

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}